/**
 * The buttons are added dynamically by jCarousel before
 * the <ul> list (inside the <div> described above) and
 * have the classnames "jcarousel-next" and "jcarousel-prev".
 */



.section-filtering{
	
	.filtering {
		margin: 0 auto;
		
		
	}
	
	#options {
		#gradient > .vertical(#3e7eb4, #8eb4d3);
		margin-bottom: 25px;
		height: auto;
		padding: 10px;
		border: 1px solid #3e7eb4;
		.border-radius(5px);
		li {
			display: inline;
			padding-right: 10px;
			a {
				color: @white;
				padding:    12px 5px;
				
			
				}
			a:hover {
				#gradient > .vertical(#8eb4d3, #3e7eb4);
			}
				
			a:active {
			#gradient > .vertical(#8eb4d3, #3e7eb4);
		}
		}
	}
	.item {
	
	//	.makeColumn(4); // Item spans 4 columns
		margin-bottom: 10px;
		
		
	}


	
	.item-title{
		padding: 0 0 .4em 0;
	
		text-align: center;
		
	}
	
	.item-thumb {
		margin-bottom: 10px;
		img {
			.border-radius(5px);
			padding: 4px;
		background: #e4efc9;
		border: 1px solid #c3db87;
		.box-sizing(border-box);
		.box-shadow(0 1px 2px rgba(0, 0, 0, 0.3));
		}
		img:hover {
		opacity: .8;
		
	}
	}
	.item-excerpt {
	
		
	}
	
	/* Start: Recommended Isotope styles */
	
	/**** Isotope Filtering ****/
	
	.isotope-item {
	  z-index: 2;
	}
	
	.isotope-hidden.isotope-item {
	  pointer-events: none;
	  z-index: 1;
	}
	
	/**** Isotope CSS3 transitions ****/
	
	.isotope,
	.isotope .isotope-item {
	  -webkit-transition-duration: 0.8s;
	     -moz-transition-duration: 0.8s;
	      -ms-transition-duration: 0.8s;
	       -o-transition-duration: 0.8s;
	          transition-duration: 0.8s;
	}
	
	.isotope {
	  -webkit-transition-property: height, width;
	     -moz-transition-property: height, width;
	      -ms-transition-property: height, width;
	       -o-transition-property: height, width;
	          transition-property: height, width;
	}
	
	.isotope .isotope-item {
	  -webkit-transition-property: -webkit-transform, opacity;
	     -moz-transition-property:    -moz-transform, opacity;
	      -ms-transition-property:     -ms-transform, opacity;
	       -o-transition-property:      -o-transform, opacity;
	          transition-property:         transform, opacity;
	}
	
	/**** disabling Isotope CSS3 transitions ****/
	
	.isotope.no-transition,
	.isotope.no-transition .isotope-item,
	.isotope .isotope-item.no-transition {
	  -webkit-transition-duration: 0s;
	     -moz-transition-duration: 0s;
	      -ms-transition-duration: 0s;
	       -o-transition-duration: 0s;
	          transition-duration: 0s;
	}
	
	/* End: Recommended Isotope styles */
	
}







